.App{
background-color: #c7d8e2;
text-align: center;
display: flex;
justify-content: center;
height: "100hv";
display: grid;
place-items: 'center';

}
.map{
    width: '100vw';
height: '100vh';
background: #6C7A89;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}